<h2><%= @blog.title %></h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <% unless @blog.topic.nil? %>
    <li class="breadcrumb-item"><%= link_to @blog.topic.title, topic_path(@blog.topic) %></li>
    <% end %>
    <li class="breadcrumb-item active"><%= @blog.title %></li>

    <% if logged_in?(:site_admin) %>
    <li class="blog-inline-actions">
      <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) %>
      <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
    </li>
    <% end %>
  </ol>
</nav>

<p>
  <%= markdown @blog.body %>
</p>

<%= render 'comments/comment_form' %>

<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
</div>

<%= link_to 'Back', blogs_path %>
