<h1>My Portfolios</h1>

<%= link_to "Create new item", new_portfolio_path %>

<% @portfolio_items.each do |portfolio| %>
  <div style="border: 1px #ccc solid; margin: 15px;">
    <p><%= portfolio.title %></p>
    <p><%= portfolio.subtitle %></p>
    <p><%= portfolio.body %></p>
    <%= image_tag portfolio.main_image unless portfolio.main_image.nil? %>
    <%= link_to "Edit this portfolio item", edit_portfolio_path(id: portfolio.id) %>
  </div>
<% end %>