<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= render "shared/blog_nav" %>
    <%= render "shared/blog_head" %>
  
    <div class="container">
  
      <div class="row">

        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div>
        
        <%= render "shared/blog_sidebar" %>
        
      </div>
  
    </div>
  
    <%= render "shared/blog_footer" %>

  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= source_helper 'blog' %>
  </body>
</html>
